.myrec-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    margin-bottom: 40px;
}

.myrec-box {
    background-color: #D9E0DB; /* 박스 배경색 */
    border-radius: 16px;
    text-align: center;
    padding: 40px;
    width: 60%; /* 박스의 너비 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 살짝 그림자 */
}

.myrec-subtitle {
    font-size: 19px;
    color: #757575;
    font-style: italic;
    position: relative;
    top: -15px;
}

.myrec-title {
    font-size: 30px;
    font-weight: bold;
    color: #3e5944; /* 메인 텍스트 색상 */
    margin-bottom: 20px;
    position: relative;
    top: -15px;
    line-height: 0.5;
}

.myrec-button {
    background-color: #3e5944; /* 버튼 배경 */
    color: #ffffff; /* 버튼 텍스트 색상 */
    border: none;
    padding: 8px 23px;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.myrec-button:hover {
    background-color: #D9E0DB;
    color:#3e5944;
    border:2px solid #3e5944;
}
