.myrecipe-register-div {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 중앙 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    background-color: #D9E0DB;
    padding: 10px 0 30px 0;
}

.myrecipe-register {
    background-color: #3e5944;
    color: white;
    padding: 10px 70px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.myrecipe-register:hover {
    background-color: #1d3a27;
    transform: scale(1.05); /* 버튼 확대 */
}