.more-recipes {
    text-align: center;
    margin: 60px auto;
    margin-bottom: 20px;
}

.more-recipes-title {
    font-size: 35px;
    font-weight: bold;
    color: #3E5944; /* 제목 색상 */
    margin-bottom: 40px;
}

.recipe-category-container {
    display: flex;
    justify-content: center;
    gap: 35px; /* 카테고리 간격 */
}

.recipe-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px; /* 각 카테고리의 넓이 */
}

.recipe-image {
    width: 100%;
    height: 120px;
    background-color: #e6e6e6; /* 이미지 없을 때 배경색 */
    border-radius: 8px;
    margin-bottom: -10px;
    cursor: pointer;
}

.recipe-image:hover{
    transform: scale(1.05); /* 이미지 확대 */
    box-shadow: 0px 4px 10px rgba(34, 34, 34, 0.2); /* 그림자 추가 */
}

.recipe-name {
    font-size: 24px;
    font-weight: bold;
    color: #3E5944; /* 텍스트 색상 */
    cursor: pointer;
}