.recommend-container {
    background-color: #3e5944;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.recommend-tit {
    display: flex;
    position: relative;
    top:-25px;
}

.fork {
    width:37px;
    height:42px;
    position: relative;
    top:40px;
    right:20px;
}

.recommend-title {
    font-size: 43px;
    color: #f2f2f2;
    margin-bottom: 2px;
}

.recommend-card {
    background-color: #f2f2f2;
    width: 70%;
    height: 250px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -10px;
    opacity: 1; /* 0으로 하면 동적인 움직임 추가됨 */
    transform: translateY(0);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.recommend-card.show {
    opacity: 1;
    transform: translateY(0);
}

.recommend-image {
    width: 350px;
    height: 220px;
    border-radius:5px;
    object-fit: cover;
}

.recommend-content {
    margin-left: 15px;
    text-align: right;
}

.recommend-dish-name {
    font-size: 38px;
    color: #542825; /* 갈색 */
    margin-bottom: 7px;
    margin-left: 15px;
    position: relative;
    top: -15px;
}

.recommend-button {
    background-color: #3e5944; /* 진한 초록색 */
    color: #f2f2f2;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    position: relative;
    right: 15px;
    top:-10px;
}

.recommend-button:hover {
    background-color: #f2f2f2;
    border: 2px solid #3e5944;
    color:#3e5944;
    font-weight: bolder;
}