@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

.form-page {
    background-color: #efeded;
    margin: 0;
    padding: 30px;
}

.reciguard-form {
    background-color: #ffffff;
    width: 80%;
    margin: 20px auto;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reciguard-form h1 {
    text-align: center;
    color: #3E5944;
    margin-top: -5px;
    margin-bottom: 20px;
    font-family: 'Lalezar', cursive;
}

.group {
    margin-bottom: 25px;
}

.group label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #3E5944;
    font-weight: bold;
}

.gender-options {
    display: flex;
    gap: 10px;
}

.gender-options label {
    color:#504f4f;
    font-weight:unset;
    margin-bottom: -4px;
}

select {
    width: 65px;
    margin-right: 5px;
}

.weight {
    width:65px;
    height: 13px;
}

.year {
    color:#504f4f;
}

.kg {
    color:#504f4f;
}

legend {
    font-size: 12px;
    color: #7f8c8d;
    margin-left: -15px;
    margin-bottom: 10px;
}

.pre{
    font-weight: bold;
    color: #3E5944;
    font-size: 16px;
    margin-left: -1px;
    margin-right: 6px;
}

.preferences-grid {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.preferences-grid div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.preferences-grid label {
    display: flex;
    align-items: center;
    gap:5px;
    line-height: 1.5;
}

input[type="checkbox"] {
    width: 13px; 
    height: 13px; 
    margin: 0; 
    vertical-align: middle;
}

.type {
    color:#3E5944;
    font-weight: bold;
}

.country {
    margin-left:18px ;
}

.category-label {
    font-size: 14px;
    color: #504f4f;
}

.alle{
    font-weight: bold;
    color: #3E5944;
    font-size: 16px;
    margin-left: -1px;
    margin-right: 6px;
}

.allergy-section {
    margin: 30px 0;
    line-height: 1.5;
}

.allergy-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* 반응형 배열 */
    gap: 15px; /* 항목 사이 간격 */
    margin: 10px 0;
}

.category {
    margin-top: 1px;
    margin-bottom: 8px;
    margin-left: 5px;
}

.signup-finish {
    margin:10px auto;
    border:none;
    background-color: #3E5944;
    color:#FCFCFD;
    border-radius: 15px;
    padding: 8px 80px;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.signup-finish:hover {
    background-color: #1e3524;
}

.allergy-div {
    margin-bottom: -10px;
}

.category-label1 {
    font-size: 14px;
    color: #504f4f;
    margin-right: 10px;
}

.category-label1 input[type="checkbox"] {
    width: 11px;
    height: 11px;
}