@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

/* 전체 네비게이션 스타일 */
.navbar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 50px;
}

/* 왼쪽 그룹: 로고와 메뉴를 묶어줌 */
.navbar-left2 {
    display: flex;
    align-items: center;
}

/* 로고 스타일 */
.navbar-logo2 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Lalezar', cursive;
    color: #3E5944;
    margin-right: 60px; /* 로고와 메뉴 간격 */
    cursor: pointer;
}

.navbar-logo2:hover {
    color:#13261A;
}

.logolink {
    text-decoration: none;
}

/* 메뉴 리스트 스타일 */
.navbar-menu2 {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px; /* 메뉴 항목 사이 간격 */
}

.navbar-menu2 li {
    font-size: 1rem;
    font-weight: bold;
    color: #13261A;
    cursor: pointer;
}

.navbar-menu2 li:hover {
    color: #3E5944;
    font-weight: bold;
}

/* 우측 검색과 버튼 스타일 */
.rightnav2 {
    display: flex;
    align-items: center;
    margin-left: auto; /* 우측 끝으로 밀기 */
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-search2 {
    padding: 5px 10px 5px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 30px;
    width: 150px;
}

.navbar-search2::placeholder {
    color: #3e5944; /* placeholder 글씨 색상 */
}

.search-icon {
    position: absolute;
    left: 10px; /* 입력 필드 내부의 왼쪽 여백 */
    width: 20px; /* 아이콘 크기 */
    height: 20px;
    pointer-events: none; /* 아이콘이 클릭되지 않도록 설정 */
}

.mypage-image2 {
    width: 25px;
}

.mypage-letter {
    font-size: 1rem;
    font-weight: bold;
    color: #13261A;
    cursor: pointer;
    margin-left: 10px;
}

.mypage-letter:hover {
    color: #3E5944;
    font-weight: bold;
}
