.right-panel {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-panel h2 {
    color: #3E5944;
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.easy {
    margin-top: 0px;
    color:#3E5944
}

.login-form {
    width: 100%;
    max-width: 350px;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
    color: #757575;
}

.form-group label {
    font-size: 13px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-label {
    font-size: 13px;
    color: #757575;
    display: flex;
    margin-top: 1px;
    line-height: 2.5;
    margin-left: 10px;
}

.checkbox-input {
    margin-right: 10px;
    transform: scale(1.0);
    cursor: pointer;
}

.sign-up-btn {
    background-color: #3E5944;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
}

.sign-up-btn:hover {
    background-color: #1e3524;
}

.log-in {
    margin-top: 20px;
    font-size: 0.9rem;
    color:#757575;
}

.log-in a {
    color: #3E5944;
    text-decoration: none;
}

.log-in a:hover{
    color: #1e3524;
    font-weight: bold;
}.right-panel {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-panel h2 {
    color: #3E5944;
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.easy {
    margin-top: 0px;
    color:#3E5944
}

.login-form {
    width: 100%;
    max-width: 350px;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
    color: #757575;
}

.form-group label {
    font-size: 13px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-label {
    font-size: 13px;
    color: #757575;
    display: flex;
    margin-top: 1px;
    line-height: 2.5;
    margin-left: 10px;
}

.checkbox-input {
    margin-right: 10px;
    transform: scale(1.0);
    cursor: pointer;
}

.sign-up-btn {
    background-color: #3E5944;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
}

.sign-up-btn:hover {
    background-color: #1e3524;
}

.log-in {
    margin-top: 20px;
    font-size: 0.9rem;
    color:#757575;
}

.log-in a {
    color: #3E5944;
    text-decoration: none;
}

.log-in a:hover{
    color: #1e3524;
    font-weight: bold;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 85%; /* 팝업 높이 제한 */
    overflow-y: auto; /* 내부 스크롤 */
}

.close-popup {
    position: fixed;
    top: 25px;
    right: 140px;
    background: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    background: #585858; /* 닫기 버튼 배경색 */
    color: #fff; /* 글자 색상 */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding-bottom: 4px;
}